@model WS.Models.Receita

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Receita</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remedio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remedio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Paciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paciente.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
